@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

:root {
  --primary: #135bec;
  --background-light: #f6f6f8;
  --background-dark: #101622;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
}

#app {
  width: 100%;
  min-height: 100vh;
}
